<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">&nbsp;</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/profile">Gebruiker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect href="/company">Bedrijven</a>
            </li>


        </ul>
        <!-- Links -->

<!-- Search form -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect (click)="logout()">Logout</a>
            </li>
            </ul>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->